<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Rong Li Resume</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/css/pillar-2.css">
</head> 

<body>
    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="media flex-column flex-md-row">
					<img class="mr-3 img-fluid picture mx-auto" src="images/me.png" alt="">
				    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					    <div class="primary-info">
						    <h1 class="name mt-0 mb-3 text-white text-uppercase text-uppercase">Rong Li</h1>
							<div class="title mb-3">Software Engineer</div>
							<div class="title mb-2">Great Boston Area</div>
					    </div><!--//primary-info-->
					    <div class="secondary-info ml-md-auto mt-2">
							<ul class="resume-social list-unstyled">
							    <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="far fa-envelope fa-fw"></i></span></i>rongli.work@gmail.com</a></li>
								<li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fas fa-mobile-alt fa-fw"></i></span></i>1-702-601-6898</a></li>
								<li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>https://linkedin.com/in/ronglisw</a></li>
				                <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>https://github.com/rong118</a></li>
						    </ul>
					    </div><!--//secondary-info-->
				    </div><!--//media-body-->
			    </div><!--//media-->
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
				    <div class="resume-section-content">
					    <p class="mb-0">
                            I am a software engineer with 4+ years of experience participating in the complete software development lifecycle of successfully launched industry applications.
                            Demonstrated hands-on skills in programming and software design. Experience in a broad range of technical skills, 
                            including full-stack web development, software build/release process, CI/CD pipeline, cloud platform integration, and app containerization. 
                            Result-driven and cooperative team player who enjoys challenges and consistently displays a positive attitude.
						</p>
				    </div>
			    </section><!--//summary-section-->

			    <div class="row">
				    <div class="col-lg-9">
					    <section class="resume-section experience-section mb-4">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-3">
									    <div class="resume-timeline-item-header mb-2">
                                            <div class="d-flex flex-column flex-md-row">
                                                <img class="mr-4 img-fluid picture mb-0" src="images/mw.png" alt="">
                                                <div>
										            <h3 class="resume-position-title font-weight-bold mb-1">Software Engineer</h3>
										            <div class="resume-company-name font-weight-bold ml-auto">The Mathworks</div>
    										        <div class="resume-position-time">Great Boston Area</div>
                                                    <div class="resume-position-time">2019/01 - Present</div>
										        </div><!--//row-->
                                            </div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Work on software component infrastructure and build internal development tools.</p>
										    <ul>
											    <li>Develop a suite of CLI applications and RESTful web services for building and testing software products.</li>
											    <li>Implement the change in the Mathworks' build platform for better support the infrastructure of CI/CD workflows.</li>
											    <li>Struct the internal software development tools, enhance the automated processes and infrastructure.</li>
                                                <li>Responsible for working with other teams to gather, analyze user requirements for increasing the development’s efficiency.</li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->
								    </article><!--//resume-timeline-item-->
								   	<article class="resume-timeline-item position-relative pb-1">
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
                                                <img class="mr-4 img-fluid picture mb-0" src="images/q.png" alt="">
                                                <div>
										            <h3 class="resume-position-title font-weight-bold mb-1">System Engineer</h3>
										            <div class="resume-company-name font-weight-bold ml-auto">Qualcomm Technologies</div>
                                                    <div class="resume-position-time">Great San Diego Area</div>
                                                    <div class="resume-position-time">2013/08 - 2018/12</div>
                                                </div>
										    </div><!--//row-->
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Work on power software post-silicon validation and system-level competitor analysis.</p>
										    <ul>
											    <li>Validate power software feature of Qualcomm's SoC, including idle power and voltage/frequency scaling(DVFS). 
                                                <li>Participate in post-silicon software bring-up of the power-optimized architecture.</li>
											    <li>Develop software profiling tools and integrate them with the automated environment.</li>
                                                <li>Competitor analysis by doing system-level power analysis of various graphic, video, and camera use-cases.</li>
										    </ul>
										</div><!--//resume-timeline-item-desc-->
								    </article><!--//resume-timeline-item-->
							    </div><!--//resume-timeline-->
						    </div>
					     </section><!--//experience-section-->

                         <section class="resume-section experience-section mb-4">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education Experience</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative pb-3">
									    <div class="resume-timeline-item-header mb-2">
                                            <div class="d-flex flex-column flex-md-row">
                                                <img class="mr-4 img-fluid picture mb-0" src="images/wpi.png" alt="">
                                                <div>
										            <h3 class="resume-position-title font-weight-bold mb-1">Master of Enigneering</h3>
                                                    <div class="resume-company-name font-weight-bold ml-auto">Electrical and Computer Engineering</div>
										            <div class="resume-company-name font-weight-bold ml-auto">Worcester Polytechnic Institute</div>
    										        <div class="resume-position-time">2012/01 - 2013/06</div>
										        </div><!--//row-->
                                            </div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>
                                               Study in computer engineering with highlight fields: 
                                               computer architecture,
                                               software engineering,
                                               operating system,
                                               computer graphic,
                                               computer network,
                                               digital design on FPGA,
                                               and VLSI design.
                                            </p>
									    </div><!--//resume-timeline-item-desc-->
								    </article><!--//resume-timeline-item-->
                                    <article class="resume-timeline-item position-relative pb-1">
									    <div class="resume-timeline-item-header mb-2">
                                            <div class="d-flex flex-column flex-md-row">
                                                <img class="mr-4 img-fluid picture mb-0" src="images/ah.png" alt="">
                                                <div>
										            <h3 class="resume-position-title font-weight-bold mb-1">Bachelor of Engineering</h3>
                                                    <div class="resume-company-name font-weight-bold ml-auto">Electrical Engineering</div>
										            <div class="resume-company-name font-weight-bold ml-auto">Anhui University</div>
    										        <div class="resume-position-time">2005/09 - 2009/07</div>
										        </div><!--//row-->
                                            </div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>
                                                Study in electrical engineering and focus on embedded software development, 
                                                including C++ programming, 
                                                data structure and algorithm, 
                                                digital and analog circuit,
                                                embedded system development, 
                                                and image signal processing.
                                            </p>
									    </div><!--//resume-timeline-item-desc-->
								    </article><!--//resume-timeline-item-->
							    </div><!--//resume-timeline-->
						    </div>
					    </section><!--//education-section-->
				    </div>

				    <div class="col-lg-3">
					    <section class="resume-section skills-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills</h2>
						    <div class="resume-section-content">
                                <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Programming Language</h4>
						            <ul class="list-inline">
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">C++</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Javascript</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Python</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Perl</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Bash/Shell</span></li>
                                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Java</span></li>
                                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Matlab</span></li>
						            </ul>
								</div><!--//resume-skill-item-->

						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Web Developing</h4>
						            <ul class="list-inline">
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">React</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">NodeJs</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Express</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">WordPress</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/CSS</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Nginx</span></li>
                                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Spring</span></li>
						            </ul>
								</div><!--//resume-skill-item-->
								
								<div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">DataBase</h4>
						            <ul class="list-inline">
										<li class="list-inline-item"><span class="badge badge-primary badge-pill">MySQL</span></li>
                                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgreSQL</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">SQLlite</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">MongoDB</span></li>
						            </ul>
						        </div><!--//resume-skill-item-->

                                <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Cloud Platform</h4>
						            <ul class="list-inline">
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">AWS</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Heroku</span></li>
						            </ul>
						        </div><!--//resume-skill-item-->

						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Build Tool</h4>
						            <ul class="list-inline">
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Make</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">CMake</span></li>
                                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Maven</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">CMake</span></li>
										<li class="list-inline-item"><span class="badge badge-primary badge-pill">Scons</span></li>
                                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Gradle</span></li>
                                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Gulp</span></li>
						            </ul>
						        </div><!--//resume-skill-item-->

                                <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">DevOps</h4>
						            <ul class="list-inline">
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Docker</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Kubernatus</span></li>
                                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Jenkins</span></li>
						            </ul>
						        </div><!--//resume-skill-item-->

                                <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Version Control</h4>
						            <ul class="list-inline">
										<li class="list-inline-item"><span class="badge badge-primary badge-pill">Git</span></li>
							            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Perforce</span></li>
						            </ul>
						        </div><!--//resume-skill-item-->
						    </div><!--resume-section-content-->
					    </section><!--//skills-section-->

                        <section class="resume-section awards-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">Qualcomm Employee Star</span> <small class="text-muted font-weight-normal">(04/2017, 09/2015)</small></li>
							    </ul>
						    </div>
					    </section><!--//awards-section-->

					   	<section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">Mandarin</span> <small class="text-muted font-weight-normal">(Native)</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
							    </ul>
						    </div>
					    </section><!--//language-section-->
				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->
	    </div>
    </article>  

    <footer class="footer text-center pt-2 pb-5">
	        <!--/* This template is released under the Creative Commons Attribution 3.0 License. 
                Please keep the attribution link below when using for your own project. 
                Thank you for your support. :) 
                If you'd like to use the template without the attribution, 
                you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </footer>
</body>
</html> 

